<ion-header>
  <ion-toolbar>
    <ion-title>libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">libro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let dog of dogs | keyvalue">
      <ion-card class="book-card">
        <ion-card-header>
          <ion-card-title>{{ dog.value.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="book-cover">
            <ion-img [src]="dog.value.imageUrl" class="book-image"></ion-img>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="saveAllToFirebase()">Guardar Todos</ion-button>
</ion-content>
